---
import Breadcrumbs from "@/lib/components/Breadcrumbs.astro"
import NavBar from "@/lib/components/NavBar.astro"
import Title from "@/lib/components/Title.astro"
let { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body>
    <NavBar>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </NavBar>
    <Breadcrumbs />
    <slot />
</body>
</html>